{{> nav/nav-block}}

<div id="home">

  <h2>{{msg}}</h2>
  <form class="clearfix mb-4" action="POST">

    <div class="form-group">
      <label for="plot-id">Plot Id</label>
      <input type="text" id="plot-id" class="form-control" aria-describedby="example-text"
        placeholder="Enter Example Text">
    </div>

    <div class="form-group">
      <label for="scientific-name">Scientific Name</label>
      <input type="text" id="scientific-name" class="form-control" aria-describedby="example-text"
        placeholder="Enter Example Text">
    </div>

    <div class="form-group">
      <label for="height">MY0_Height</label>
      <input type="text" id="height" class="form-control" aria-describedby="example-text"
        placeholder="Enter Example Text">
    </div>

    <div class="form-group">
      <label for="psa">Performance Standard Approval</label>
      <input type="text" id="psa" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
    </div>

    <div class="form-group">
      <label for="pov">Planted or volunteer</label>
      <input type="text" id="pov" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
    </div>

    <div class="form-group">
      <label for="x-coord">X_Coordinate</label>
      <input type="text" id="x-coord" class="form-control" aria-describedby="example-text"
        placeholder="Enter Example Text">
    </div>

    <div class="form-group">
      <label for="y-coord">Y_Coordinate</label>
      <input type="text" id="y-coord" class="form-control" aria-describedby="example-text"
        placeholder="Enter Example Text">
    </div>

    <div class="form-group">
      <label for="mapId">Map_ID</label>
      <input type="text" id="mapId" class="form-control" aria-describedby="example-text"
        placeholder="Enter Example Text">
    </div>

    <button id="submit" class="button is-primary">Submit</button>

  </form>

  <h4>Examples belong to this user:</h4>
  <div class="ui-widget">
    <input id="tags" type="text">
  </div>
  <ul id="tree-list" class="list-group">
    {{#each trees}}
    <li data-id="{{this.id}}" class="list-group-item">
      <a href="tree/{{this.id}}">{{this.Scientific_Name}}</a>
      <button class="btn is-primary btn-danger float-right delete">ｘ</button>
    </li>
    {{/each}}
  </ul>
</div>

<script src="/assets/js/tree.js"></script>
{{!--
<script src="/assets/js/search.js"></script> --}}

{{> modal/login-block}}

<script>
  var userId = {{ userInfo.id }};
</script>